body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Georgia", "Arial", sans-serif;
    background-image: url('https://image.freepik.com/free-vector/vintage-ornamental-flowers-background_52683-28040.jpg');
}

#wrapper { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container {
    border: 10px white solid;
    background-color: white;
}

.sidebar-content {
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    width: 130px;
    background-color: rgb(126, 221, 216);
    border: 4px rgb(60, 139, 135) solid;
}

.content {
    width: 610px;
}

.header {
    text-align: right;
    background-color:#A8F0F0;
}

.header-meta {
    padding: 2px;
    font-size: 14px;
}

.post-content {
    display: flex;
    flex-direction: row-reverse;
}

.post {
    padding: 5px;
    margin-top: 10px;
    background-color: #E8FBFB;
    border: 4px #C2E9E9 solid; 
}

.date {
    border-bottom: 2px lightseagreen dashed;
}

.highlight:hover {
    transition: .7s all;
    background-color: yellow;
}